:root {
	--hex-size: 60px;
	--hex-width: 30px;
	--hex-height: 52px;
	--hex-total-width: 60px;
	--hex-total-height: 104px;
	--hex-background: #eaeeed;
	--hex-hover-background: #cccace;
}


body * {
	font-family: 'Roboto Slab', sans-serif;
}


/* Single Element Hex. Maybe I'll shift to this*/
/*.displayHex:before {
	content: " ";
	width: 0;
	height: 0;
	border-bottom: var(--hex-height) solid var(--hex-background);
	border-left: var(--hex-width) solid var(--hex-background);
	border-right: var(--hex-width) solid var(--hex-background);
	position: absolute;
	top: - var(--hex-width);
}

.displayHex {
	margin-top: var(--hex-width);
	width: var(--hex-total-width);
	height: var(--hex-total-height);
	background-color: var(--hex-background);
	position: relative;
}

.displayHex:after {
	content: " ";
	width: 0;
	height: 0;
	position: absolute;
	bottom: - var(--hex-width);
	border-top: var(--hex-width) solid var(--hex-background);
	border-left: var(--hex-height) solid var(--hex-background);
	border-right: var(--hex-height) solid var(--hex-background);
}*/

.hex-row {
	clear: left;
}

.hex {
	margin-right: calc(-1 * (var(--hex-height) / 2));
	margin-bottom: calc(-1 * (var(--hex-height) - 2px));
	float: left;
}

.hex:nth-child(2n) {
	margin-top: calc((var(--hex-height) + 1px));
}

.hex .left {
	float: left;
	width: 0;
	border-right: var(--hex-width) solid var(--hex-background);
	border-top: var(--hex-height) solid transparent;
	border-bottom: var(--hex-height) solid transparent;
}

.hex .middle {
	float: left;
	width: calc(2 * var(--hex-width));
	height: calc(2 * var(--hex-height));
	background: var(--hex-background);
	vertical-align: middle;
	line-height: calc(2 * var(--hex-height));
	color: #111;
}

.hex .right {
	float: left;
	width: 0;
	border-left: var(--hex-width) solid var(--hex-background);
	border-top: var(--hex-height) solid transparent;
	border-bottom: var(--hex-height) solid transparent;
}

.hex:hover .left {
	border-right-color: var(--hex-hover-background);
}

.hex:hover .middle {
	background-color: var(--hex-hover-background);
}

.hex:hover .right {
	border-left-color: var(--hex-hover-background);
}













