

* {
    box-sizing: border-box !important;
}

html {
    background-color: #fafefb;
}

body * {
	font-family: 'Roboto Slab', sans-serif;
}


a {
    color: inherit;
    text-decoration: none;
}

.homeLink {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}

.homeLink:hover {
    color: #8822cc;
    border-color: #8822cc;
}


.experimentCard {
    color: black;
    border: 1px solid gray;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    transition: color 0.3s, border-color 0.1s;
    box-shadow: 2px 2px 3px 1px #cccccc;
}

.experimentCard:hover {
    color: #8822cc;
    border-color: #8822cc;
    box-shadow: 3px 3px 3px 1px #bbbbbb;
}

article {
    max-width: 1000px;
    margin: 0 auto;
}

code {
    font-family: 'Roboto Mono', monospace;
    color: #224023;
    background-color: #f0f1f2;
    padding: 0px;
    font-weight: bold;
}

pre {
    font-family: 'Roboto Mono', monospace;
    background-color: #f0f1f2;
    overflow-x: scroll;
    padding: 10px;
    margin: 10px;
}